# Secrets and AutoModpack cache
automodpack/
!automodpack/automodpack-client.json

# Logs, Crash Reports, Caches, & Temp Jars
*.log
logs/
crash-reports/
cache/
fieldguide_cache/
debug/
downloads/
.DS_Store
*.json.bak
.fabric/

# Map & World Data (Xaero, Journeymap, Bobby, etc.)
saves/
journeymap/
xaero/
XaeroWaypoints*/
Distant_Horizons_server_data/
.bobby/
blueprints/
data/
minecolonies/

# Personal Config Overrides & Schematics
config/litematica/

# Temp Files
TrashSlotSaveState.json
cherishedworlds-favorites.dat
command_history.txt
debug-profile.json
dungeons_iso_firsttime.json
